@model System.Data.DataTable

<h1>Customer List</h1>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>UserName</th>
            <th>Email</th>
            <!-- Add more table headers as per your DataTable columns -->
        </tr>
    </thead>
    <tbody>
        @foreach (System.Data.DataRow row in Model.Rows)
        {
        <tr>
            <td>@row["Id"]</td>
            <td>@row["UserName"]</td>
            <td>@row["Email"]</td>
        </tr>
        }
    </tbody>
</table>
<form asp-action="SessionTest" method="get">
    <input type="submit" value="Next" />
</form>



